<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>271727314991-2t9ce2vc0l1djpacrlb62is95ifdpjs1.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.teezy.CryptoPal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.271727314991-2t9ce2vc0l1djpacrlb62is95ifdpjs1</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-Light.otf</string>
		<string>Gilroy-ExtraBold.otf</string>
	</array>
</dict>
</plist>
